DATABASE_URL="postgresql://postgres.xxxx:password@aws-1-eu-west-1.pooler.supabase.com:6543/postgres"
PORT=3000

TELEGRAM_BOT_TOKEN=your_bot_token_from_botfather
API_BASE_URL=http://localhost:3000

TEACHER_NAME=مستر أحمد
ADMIN_TELEGRAM_ID=123456789
